<header class="site-header">
    <div class="site-header__brand">
        <a href="/" aria-label="Icaro Niz - Home">
            <img class="site-header__brand-image" src="/assets/img/icaro-niz-brand-gradient.png" alt="Icaro Niz" width="198" height="44">
        </a>
    </div>
    <nav class="site-header__nav" aria-label="Primary navigation">
        <ul class="site-header__nav-list">
            <li class="site-header__nav-item"><a class="site-header__nav-link site-header__nav-link--current" data-nav-home="true" href="#home" aria-current="page">Home</a></li>
            <li class="site-header__nav-item"><a class="site-header__nav-link" data-section="about" href="#about">About</a></li>
            <li class="site-header__nav-item"><a class="site-header__nav-link" data-section="experience" href="#experience">Experience</a></li>
            <li class="site-header__nav-item"><a class="site-header__nav-link" data-section="projects" href="#projects">Projects</a></li>
            <li class="site-header__nav-item"><a class="site-header__nav-link" data-section="contact" href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>